/* =============================================================================
   variable
============================================================================= */
// color
$textcolor: #333;
$linkTextColor: #327ef0;

// width
$contentWidth: 970px;

// font
$defaultFontSet: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif;
$defaultLineHeight: 1.5;