<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>precheckcss</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="layout-wrapper">

	<header class="layout-globalheader">
		<h1>precheckcss</h1>
	</header>

	<div id="app-precheck">

		<p>filter by selector name: <input v-model="freetext"></p>
		<p>filter by file:
			<select v-model="fileselect">
				<option value="">all</option>
				<template v-for="file in filelist">
				<option>{{file}}</option>
				</template>
			</select>
		</p>

		<div class="mod-selectorlist">
			<div v-for="( selectorItem, index ) in displayList" class="mod-selectorlist__item" :class="{ 'is-duplicateselector': selectorItem.repeatNum > 1 }" v-cloak>
				<p class="mod-selectorlist__selectorname">{{selectorItem.selector}}</p>
				<div class="mod-selectorlist__detail">
					<p v-if="selectorItem.atrule" class="mod-selectorlist__detail--atrule"><i class="fa fa-at" aria-hidden="true"></i> {{selectorItem.atrule}}</p>
					<p>
						<span class="mod-selectorlist__detail--filename"><i class="fa fa-file-o" aria-hidden="true"></i> {{selectorItem.file}}</span>
						<span class="mod-selectorlist__detail--linenum"><i class="fa fa-code" aria-hidden="true"></i> L{{selectorItem.line}}</span>
					</p>
				</div>
				<p v-if="selectorItem.repeatNum > 1" class="mod-selectorlist__duplicateselector">The same selector is specified {{selectorItem.repeatNum}} times</p>
			</div>
		</div>

	</div>

</div>

<script src="https://unpkg.com/vue@2.2.1/dist/vue.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
